@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .Net 5.0 Sample Application</h1>
</div>
<div class="text-center">
    <h1 class="badge">Created by Jeba Schulz J</h1>
</div>